./**/dsa/
./**/bin/
executables/src/dsa/i686-pc-mingw32/*
executables/src/bin/*
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/client.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/client.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/client.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/client.o
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/common.ads.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/common.ads.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/common.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/common.o
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/factory.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/factory.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/factory.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/factory.o
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/gpsauto.cgpr
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/newprocesses.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/newprocesses.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/newprocesses.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/newprocesses.o
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/paxos_monolithic_app.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/paxos_monolithic_app.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/paxos_monolithic_app.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/paxos_monolithic_app.o
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/polyorb-dsa_p-partitions.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/polyorb-dsa_p-partitions.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/polyorb-dsa_p-partitions.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/polyorb-dsa_p-partitions.o
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/start_client.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/start_client.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/start_client.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/start_client.o
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/start_factory.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/start_factory.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/start_factory.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/start_factory.o
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/storage.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/storage.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/storage.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/obj/storage.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/b__partition.adb
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/b__partition.ads
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/b__partition.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/b__partition.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/glade.sta
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/partition.adb
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/partition.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/partition.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/partition.ads
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/partition.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/partition.bexch
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/partition.gpr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/partition.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/polyorb-dsa_p-storages-config.adb
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/polyorb-dsa_p-storages-config.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/polyorb-dsa_p-storages-config.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/polyorb-dsa_p-storages-config.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/polyorb-dsa_p-storages-config.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/polyorb-partition_elaboration.adb
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/polyorb-partition_elaboration.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/polyorb-partition_elaboration.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/polyorb-partition_elaboration.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/polyorb-partition_elaboration.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/b__partition.adb
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/b__partition.ads
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/b__partition.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/b__partition.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/factory.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/factory.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/factory.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/factory.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/glade.sta
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/partition.adb
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/partition.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/partition.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/partition.ads
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/partition.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/partition.bexch
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/partition.gpr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/partition.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-dsa_p-partitions.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-dsa_p-partitions.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-dsa_p-partitions.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-dsa_p-partitions.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-dsa_p-storages-config.adb
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-dsa_p-storages-config.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-dsa_p-storages-config.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-dsa_p-storages-config.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-dsa_p-storages-config.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-partition_elaboration.adb
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-partition_elaboration.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-partition_elaboration.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-partition_elaboration.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/polyorb-partition_elaboration.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/b__partition.adb
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/b__partition.ads
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/b__partition.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/b__partition.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/glade.sta
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/partition.adb
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/partition.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/partition.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/partition.ads
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/partition.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/partition.bexch
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/partition.gpr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/partition.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/polyorb-dsa_p-storages-config.adb
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/polyorb-dsa_p-storages-config.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/polyorb-dsa_p-storages-config.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/polyorb-dsa_p-storages-config.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/polyorb-dsa_p-storages-config.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/polyorb-partition_elaboration.adb
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/polyorb-partition_elaboration.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/polyorb-partition_elaboration.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/polyorb-partition_elaboration.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/polyorb-partition_elaboration.o
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/storage.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/storage.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/storage.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/storage.o
/executables/src/dsa/x86_64-unknown-linux-gnu/paxos_dist_app.gpr
/executables/src/dsa/x86_64-unknown-linux-gnu/pcs_project.gpr
/executables/src/dsa/x86_64-unknown-linux-gnu/pcs_project1.gpr
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/factory.ads.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/factory.ads.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/factory.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/factory.o
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/partition.gpr
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/polyorb-dsa_p-partitions.ads.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/polyorb-dsa_p-partitions.ads.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/polyorb-dsa_p-partitions.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/polyorb-dsa_p-partitions.o
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/storage.adb.stderr
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/storage.adb.stdout
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/storage.ali
/executables/src/dsa/x86_64-unknown-linux-gnu/stubs/storage.o
/executables/src/polyorb.conf
/executables/obj/b__start_factory.adb
/executables/obj/b__start_factory.ads
/executables/obj/b__start_factory.ali
/executables/obj/b__start_factory.o
/executables/obj/client.adb.stderr
/executables/obj/client.adb.stdout
/executables/obj/client.ali
/executables/obj/client.bexch
/executables/obj/client.o
/executables/obj/common.ads.stderr
/executables/obj/common.ads.stdout
/executables/obj/common.ali
/executables/obj/common.o
/executables/obj/factory.adb.stderr
/executables/obj/factory.adb.stdout
/executables/obj/factory.ali
/executables/obj/factory.bexch
/executables/obj/factory.o
/executables/obj/newprocesses.adb.stderr
/executables/obj/newprocesses.adb.stdout
/executables/obj/newprocesses.ali
/executables/obj/newprocesses.o
/executables/obj/start_factory
/executables/obj/start_factory.adb.stderr
/executables/obj/start_factory.adb.stdout
/executables/obj/start_factory.ali
/executables/obj/start_factory.bexch
/executables/obj/start_factory.o
/executables/obj/storage.adb.stderr
/executables/obj/storage.adb.stdout
/executables/obj/storage.ali
/executables/obj/storage.o
/executables/testing_poly.gpr
/executables/dwork/src/.\#factory.adb\#
/executables/dwork/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/b__partition.adb
/executables/dwork/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/b__partition.ads
/executables/dwork/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/b__partition.ali
/executables/dwork/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/b__partition.o
/executables/dwork/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/b__partition.adb
/executables/dwork/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/b__partition.ads
/executables/dwork/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/b__partition.ali
/executables/dwork/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/b__partition.o
/executables/dwork/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/b__partition.adb
/executables/dwork/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/b__partition.ads
/executables/dwork/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/b__partition.ali
/executables/dwork/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/b__partition.o
/executables/paxos/src/.\#factory.adb\#
/executables/paxos/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/b__partition.adb
/executables/paxos/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/b__partition.ads
/executables/paxos/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/b__partition.ali
/executables/paxos/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/client_partition/b__partition.o
/executables/paxos/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/b__partition.adb
/executables/paxos/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/b__partition.ads
/executables/paxos/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/b__partition.ali
/executables/paxos/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/factory_partition/b__partition.o
/executables/paxos/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/b__partition.adb
/executables/paxos/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/b__partition.ads
/executables/paxos/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/b__partition.ali
/executables/paxos/src/dsa/x86_64-unknown-linux-gnu/partitions/paxos/storage_partition/b__partition.o
/executables/src/Starta tutto.lnk
