*.ali 
*.o 
*.exe 
*.stderr 
*.stdout
*.bat

**/dsa/
executables/obj/

polyorb.conf
default.gpr
/executables/dworks/.\#client.adb\#
/executables/dworks/Starta tutto.lnk
/executables/paxos/Starta tutto.lnk
